footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
}


footer .footer-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-width: var(--max-width);
    height: 100%;
    padding-left: var(--content-margin);
    padding-right: var(--content-margin);
}