form.register,
form.login {
    display: flex;
    width: 100%;
}


fieldset {
    border: none;
}


fieldset.emails,
fieldset.pwds {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


fieldset .form-input {
    display: flex;
    flex-direction: column;
    min-width: 250px;
}

fieldset .form-input label {
    font-size: 0.8rem;
}

fieldset .form-input input.invalid,
fieldset .form-input input:invalid {
    border: 2px solid red;
}