:root {
    --max-width: 14000px;
    --max-content-width: 1400px;
    --content-margin: 1rem;

    /* CI COLORS */
    --color-ci-1: 5, 40, 50;
    --color-ci-2: 13, 108, 135;
    --color-ci-3: 40, 50, 60;
    --color-ci-3: 35, 45, 55;
    --color-ci-4: 80, 80, 80;
    --color-ci-font: 225, 225, 225;
    --color-ci-link: 200, 255, 25;
    --color-ci-background: 10, 15, 20;
    --color-ci-background: 5, 10, 15;

    --content-tile-background: linear-gradient(45deg, rgba(var(--color-ci-3), 0.55), rgba(var(--color-ci-3), 0.35));
    --content-tile-shadow: 0px 0px 2px 0px rgba(150, 150, 150, 0.3);
}
